html * {
  font-family: Verdana;
}

.header {
  background-color: orange;
  height: 80px;
  padding: 20px;
  color: white;
  border-bottom: 15px solid #eeeeee;
  margin-bottom: 30px;
}

.header-text {
  margin-bottom: 7.5px;
  font-size: 18px;
}

.modal-button {
  float: right;
  font-size: 10px;
}

.modal-header {
  background-color: #428bca;
  color: white;
  margin-bottom: 30px;
}

#close-button {
  border-radius: 100%;
  float: right;
  background-color: white;
  color: orange;
  border: none;
  width: 20px;
  font-size: 10px;
}

.center {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

#save-button {
  background-color: gray;
  border: none;
}

#plus-icon {
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  background-color: white;
  color: blue;
  padding: 1px;
  margin-right: 2.5px;
  width: 17.5px;
}

input {
  margin-bottom: 30px;
}